.table-responsive {
    background-color: white;
    color: black;
}

.bg-blue {
    background-color: slategrey;
}

.text-white {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.btn-outline-info:hover {
    background-color: white;
    box-shadow: 3px 3px black;
}

.btn-outline-info {
    border-radius: 0px;
}

.my-table {
    display: block;
    height:450px;
    overflow:auto;
    box-shadow: 5px 5px black;
}


.table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

    .table-fixed tr:after {
        content: "";
        display: block;
        visibility: hidden;
        clear: both;
    }

    .table-fixed tbody td,
    .table-fixed thead > tr > th {
        float: left;
    }

.table > thead > tr > th,
.table > thead > tr > td {
    font-size: .9em;
    font-weight: 400;
    border-bottom: 0;
    letter-spacing: 1px;
    vertical-align: top;
    padding: 8px;
    background: #51596a;
    text-transform: uppercase;
    color: #ffffff;
}

